.controls-wrapper {
  width: 60%;
  margin: 0;
  align-items: center;
  justify-content: space-evenly;
}
.action-btn {
  width: 50px;
  height: 50px;
  border-radius: 20px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease;
}
.action-btn:hover {
  transform: scale(1.1);
}
.play-pause-btn {
  width: 70px;
  height: 70px;
  border-radius: 30px;
  background-color: #ffbb50;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: white;
}
.play-pause-btn :hover {
  transform: scale(1.1);
  background-color: #ffbc50ad;
}
